* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*____________________ANIMAÇÃO____________________*/
.background-animation {
    position: fixed;
    bottom: -200px;
    left: calc(100% * var(--ramdom-x));
    /* width: 200px;
    height: 200px; */
    background: radial-gradient(circle, #00BFFF, #7F00FF);
    opacity: 0.3;
    border-radius: 50%;
    z-index: 0;
    animation: subir 2s linear infinite;
    animation-timing-function: ease-in;
}

.background-animation:nth-child(1) {
    --ramdom-x: 0.1;
    animation-duration: 8s;
    animation-delay: 0s;
    width: 40px;
    height: 40px;
}

.background-animation:nth-child(2) {
    --ramdom-x: 0.25;
    animation-duration: 7s;
    animation-delay: 2s;
    width: 60px;
    height: 60px;
}

.background-animation:nth-child(3) {
    --ramdom-x: 0.5;
    animation-duration: 6s;
    animation-delay: 4s;
    width: 50px;
    height: 50px;
}

.background-animation:nth-child(4) {
    --ramdom-x: 0.75;
    animation-duration: 9s;
    animation-delay: 1s;
    width: 45px;
    height: 45px;
}

.background-animation:nth-child(5) {
    --ramdom-x: 0.9;
    animation-duration: 5s;
    animation-delay: 3s;
    width: 55px;
    height: 55px;
}

@keyframes subir {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -150vh);
    }
}

/*____________________ANIMAÇÃO____________________*/


body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    overflow-x: hidden;
}


/*____________________CABEÇALHO____________________*/
header {
    background-color: #1E1E1E;
    padding: 2rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

header h1 {
    color: #7F00FF;
    font-size: 2.5rem;
}

header p {
    color: #00BFFF;
    font-size: 1.2rem;
}


/*____________________SECTION - GLOBAL____________________*/
section {
    position: relative;
    z-index: 10;
    padding: 1rem 1rem;
    background-color: #1E1E1E;
    margin: 3rem auto;
    max-width: 1000px;
}

section h2 {
    text-align: center;
    color: #7F00FF;
    font-size: 2rem;
    padding: 1rem 1rem 2rem 2rem;
    margin-bottom: 0.1rem;
}

section p {
    padding: 0rem 2rem;
}

.last-p {
    margin-bottom: 2rem;
}


/*____________________SECTION - SOBRE____________________*/
.sobre {
    border-radius: 5rem 5rem 0 0;
}


/*____________________SECTION - SKILLS____________________*/
.skills {
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
}

.skills:hover {
    transform: scale(1.1);

}

.skills-icons img {
    width: 60px;
    height: auto;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    margin-bottom: 2rem;
}


/*____________________SECTION - MVV____________________*/
.mvv {
    border-radius: 0 0 5rem 5rem;
    text-align: center;
}


/*____________________RODAPÉ____________________*/
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1E1E1E;
    color: #00BFFF;
    border-top: 2px solid #7F00FF;
    position: relative;
    z-index: 10;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}


/* ______________Responsive Styles_______________________ */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1rem;
    }

    section {
        padding: 1rem;
        margin: 2rem 1rem;
    }

    section h2 {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    section p {
        font-size: 0.95rem;
        padding: 0 1rem;
    }

    .skills-icons {
        justify-content: center;
        gap: 1rem;
    }

    .skills-icons img {
        width: 40px;
    }

    footer {
        font-size: 0.9rem;
    }

    .footer-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}